@import 'helpers/variables', 'helpers/mixins';
@import './sections/header';
@import './sections/footer';


.container {
  width: 1145px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}
