.jumbotron-content {
  display: flex;

  margin-top: 100px;
  margin-bottom: 150px;
  gap: 16px;

  .jumbotron-text {
    h1 {
      color: #1f2e35;
      font-weight: 700;
      font-size: 48px;
      line-height: 64px;
    }
    p {
      color: #30444e;
      font-weight: 400;
      font-size: 20px;
      line-height: 29px;
      margin-top: 24px;
      margin-bottom: 24px;
    }
  }
}

.welcome-pg {
  background-color: #f6f6f6;
  .welcome-content {
    display: flex;
    gap: 82px;
    padding-top: 58px;
    padding-bottom: 62px;
    align-items: center;
    p {
      line-height: 27px;
      font-size: 18px;
      max-width: 520px;
    }
  }
}

.products {
  margin-top: 115px;
  margin-bottom: 100px;
  text-align: center;
  .section-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 43px;
    text-align: center;
    color: #1f2e35;
    margin-bottom: 40px;
  }
  .box-wrapper {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    .product-box {
      display: flex;
      flex-direction: column;
      gap: 15px;
      text-align: left;
      .product-img {
        display: inline-block;
        background-image: url(../../assets/img/products.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 100px;
        height: 100px;
      }
      .service-img {
        display: inline-block;

        background-image: url(../img/services.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 100px;
        height: 100px;
      }
      .technology-img {
        display: inline-block;

        background-image: url(../img/technology-logo.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 100px;
        height: 100px;
      }

      h1 {
        font-weight: 500;
        font-size: 28px;
        line-height: 37px;
        color: $red;
        margin: 0px;
      }
      p {
        max-width: 319px;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #30444e;
        margin: 0px;
      }
      button {
        max-width: 120px;
        padding: 8px 16px;
      }
    }
  }
}
