header {
  color: #1f2e35;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25); }
  header .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 0;
    gap: 108px; }

nav {
  display: flex; }
  nav ul {
    display: flex;
    padding: 0;
    list-style: none;
    margin: 0px; }
  nav > ul {
    gap: 50px; }

li {
  font-size: 18px; }
  li a {
    text-decoration: none;
    font-weight: 400;
    line-height: 21px;
    color: #1f2e35; }
    li a.active {
      font-weight: 600; }
    li a:hover {
      color: black; }
  li button {
    width: 77px;
    border: none;
    background-color: transparent;
    color: #1f2e35;
    padding: 0; }
  li .about::after,
  li .client::after {
    content: url(../img/chevron_down.svg);
    margin-left: 8px; }

.nav-actions {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-left: 116px;
  margin-right: 0px; }
  .nav-actions button {
    background-color: transparent;
    border: 0;
    padding: 0;
    width: 20px;
    background-repeat: no-repeat;
    background-size: contain; }
  .nav-actions .home {
    height: 18.6px;
    background-image: url(../img/union.svg); }
  .nav-actions .mail {
    height: 16px;
    background-image: url(../img/mail.svg); }
  .nav-actions .shuffle {
    width: 16px;
    height: 16px;
    background-image: url(../img/shuffle.svg); }

.dropdown {
  position: relative; }
  .dropdown button:hover, .dropdown.active > button {
    background-color: rgba(243, 241, 241, 0.4);
    border-radius: 0.25rem; }
  .dropdown.active > button + .dropdown-menu {
    opacity: 1;
    transform: translateY(0); }

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 4px);
  padding: 12px;
  border-radius: 4px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  opacity: 0;
  width: max-content;
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  transform: translateY(-10px); }
  .dropdown-menu ul {
    display: flex;
    flex-direction: column; }
    .dropdown-menu ul li {
      padding: 4px; }
      .dropdown-menu ul li a {
        font-weight: 400;
        line-height: 21px;
        color: #1f2e35; }
        .dropdown-menu ul li a:hover {
          background-color: rgba(243, 241, 241, 0.4);
          padding: 4px; }

footer .footer-wrapper {
  display: flex;
  color: #263238;
  padding-top: 28px;
  padding-bottom: 28px;
  justify-content: space-between;
  align-items: flex-end; }
  footer .footer-wrapper .address-box strong {
    margin-top: 10px;
    margin-bottom: 8px;
    font-weight: 500;
    line-height: 21px;
    font-size: 18px; }
  footer .footer-wrapper address,
  footer .footer-wrapper .contact-info > p {
    font-weight: 300;
    line-height: 24px;
    font-size: 18px;
    margin-bottom: 0; }
  footer .footer-wrapper .contact-info {
    margin: 22px 74px 0px 48px; }
    footer .footer-wrapper .contact-info h1 {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px; }
    footer .footer-wrapper .contact-info p a {
      text-decoration: none;
      cursor: pointer;
      color: #263238; }
  footer .footer-wrapper .partners-logos {
    max-width: 420px;
    display: grid;
    gap: 10px; }
    footer .footer-wrapper .partners-logos .grid-row {
      display: flex;
      gap: 25px;
      align-items: center;
      justify-content: space-between; }
footer .copyright {
  background-color: #ee4248;
  padding: 22px 0px;
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px; }
  footer .copyright p {
    margin: 0; }

.jumbotron-content {
  display: flex;
  margin-top: 100px;
  margin-bottom: 150px;
  gap: 16px; }
  .jumbotron-content .jumbotron-text h1 {
    color: #1f2e35;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px; }
  .jumbotron-content .jumbotron-text p {
    color: #30444e;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    margin-top: 24px;
    margin-bottom: 24px; }

.welcome-pg {
  background-color: #f6f6f6; }
  .welcome-pg .welcome-content {
    display: flex;
    gap: 82px;
    padding-top: 58px;
    padding-bottom: 62px;
    align-items: center; }
    .welcome-pg .welcome-content p {
      line-height: 27px;
      font-size: 18px;
      max-width: 520px; }

.client-jumbotron {
  border-bottom: 17px solid #ee4248;
  margin-top: 60px;
  margin-bottom: 50px;
  background-image: url(../../assets/img/team.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto; }
  .client-jumbotron p {
    max-width: 700px;
    font-weight: 400;
    font-size: 48px;
    line-height: 68px;
    color: #30444e;
    margin-top: 40px;
    margin-bottom: 0px; }
    .client-jumbotron p em {
      font-style: normal;
      font-weight: 700; }

.dots-img {
  background-image: url(../../assets/img/dots.svg);
  width: 120px;
  height: 115px;
  background-repeat: no-repeat;
  background-size: contain; }

.clients-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 51px;
  color: #263238;
  text-align: center; }

.line-decoration {
  background-image: url(../../assets/img/line-dec.svg);
  background-size: auto;
  background-repeat: no-repeat;
  padding: 5px 5px;
  max-width: 88px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px; }

.client {
  padding: 30px 0px; }
  .client .client-box {
    display: flex;
    gap: 95px; }
    .client .client-box .bank-logo {
      display: flex;
      align-items: center; }
    .client .client-box .client-information {
      max-width: 570px; }
      .client .client-box .client-information h1 {
        font-weight: 500;
        font-size: 32px;
        line-height: 45px;
        color: #263238;
        margin-bottom: 16px; }
      .client .client-box .client-information ul {
        text-align: left;
        padding: 0px; }
        .client .client-box .client-information ul li {
          list-style: none; }
        .client .client-box .client-information ul h2 {
          font-weight: 500;
          font-size: 20px;
          line-height: 32px;
          color: #ee4248;
          margin-bottom: 0px; }
        .client .client-box .client-information ul li {
          font-weight: 400;
          font-size: 18px;
          line-height: 29px;
          color: #263238; }

.grey {
  background-color: #f7f7f7; }

.testimonial {
  margin-top: 50px;
  margin-bottom: 50px; }

.container {
  width: 1145px;
  margin-left: auto;
  margin-right: auto; }

body {
  font-family: 'Roboto', sans-serif;
  margin: 0px; }

em.red-emphasis {
  font-style: normal;
  color: #ee4248; }

.btn-primary {
  background-color: #ee4248;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: none;
  color: #fff;
  padding: 12px 32px; }

/*# sourceMappingURL=style.css.map */
