header {
  color: #1f2e35;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
header .header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 0;
  gap: 108px;
}

nav {
  display: flex;
}
nav ul {
  display: flex;
  padding: 0;
  list-style: none;
  margin: 0px;
}
nav > ul {
  gap: 50px;
}

li {
  font-size: 18px;
}
li a {
  text-decoration: none;
  font-weight: 400;
  line-height: 21px;
  color: #1f2e35;
}
li a.active {
  font-weight: 600;
}
li a:hover {
  color: black;
}
li button {
  width: 77px;
  border: none;
  background-color: transparent;
  color: #1f2e35;
  padding: 0;
}
li .about::after,
li .client::after {
  content: url(../img/chevron_down.svg);
  margin-left: 8px;
}

.nav-actions {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-left: 116px;
  margin-right: 0px;
}
.nav-actions button {
  background-color: transparent;
  border: 0;
  padding: 0;
  width: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}
.nav-actions .home {
  height: 18.6px;
  background-image: url(../img/union.svg);
}
.nav-actions .mail {
  height: 16px;
  background-image: url(../img/mail.svg);
}
.nav-actions .shuffle {
  width: 16px;
  height: 16px;
  background-image: url(../img/shuffle.svg);
}

.dropdown {
  position: relative;
}
.dropdown button:hover, .dropdown.active > button {
  background-color: rgba(243, 241, 241, 0.4);
  border-radius: 0.25rem;
}
.dropdown.active > button + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 4px);
  padding: 12px;
  border-radius: 4px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  opacity: 0;
  width: max-content;
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  transform: translateY(-10px);
}
.dropdown-menu ul {
  display: flex;
  flex-direction: column;
}
.dropdown-menu ul li {
  padding: 4px;
}
.dropdown-menu ul li a:hover {
  background-color: rgba(243, 241, 241, 0.4);
  color: rgb(41, 41, 41);
  padding: 4px;
}

footer .footer-wrapper {
  display: flex;
  color: #263238;
  padding-top: 28px;
  padding-bottom: 28px;
  justify-content: space-between;
  align-items: flex-end;
}
footer .footer-wrapper .address-box strong {
  margin-top: 10px;
  margin-bottom: 8px;
  font-weight: 500;
  line-height: 21px;
  font-size: 18px;
}
footer .footer-wrapper address,
footer .footer-wrapper .contact-info > p {
  font-weight: 300;
  line-height: 24px;
  font-size: 18px;
  margin-bottom: 0;
}
footer .footer-wrapper .contact-info {
  margin: 22px 74px 0px 48px;
}
footer .footer-wrapper .contact-info h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 15px;
}
footer .footer-wrapper .contact-info p a {
  text-decoration: none;
  cursor: pointer;
  color: #263238;
}
footer .footer-wrapper .partners-logos {
  max-width: 420px;
  display: grid;
  gap: 10px;
}
footer .footer-wrapper .partners-logos .grid-row {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: space-between;
}
footer .copyright {
  background-color: #ee4248;
  padding: 22px 0px;
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
footer .copyright p {
  margin: 0;
}

.jumbotron-content {
  display: flex;
  gap: 16px;
  margin-bottom: 150px;
  margin-top: 100px;
}
.jumbotron-content .jumbotron-text h1 {
  color: #1f2e35;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
}
.jumbotron-content .jumbotron-text p {
  margin-bottom: 24px;
  margin-top: 24px;
  color: #30444e;
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
}

.welcome-pg {
  background-color: #f6f6f6;
}
.welcome-pg .welcome-content {
  display: flex;
  align-items: center;
  gap: 82px;
  padding-bottom: 62px;
  padding-top: 58px;
}
.welcome-pg .welcome-content p {
  max-width: 520px;
  font-size: 18px;
  line-height: 27px;
}

.product-service {
  margin-bottom: 100px;
  margin-top: 115px;
}
.product-service .section-title {
  margin-bottom: 40px;
  color: #1f2e35;
  font-size: 32px;
  font-weight: 500;
  line-height: 43px;
  text-align: center;
}
.product-service .product-service-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.product-service .product-service-wrapper .product-service-item {
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.product-service .product-service-wrapper .product-service-item-img {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
}
.product-service .product-service-wrapper .product-service-item .product {
  background-image: url(../../assets/img/products.svg);
}
.product-service .product-service-wrapper .product-service-item .service {
  background-image: url(../img/services.svg);
}
.product-service .product-service-wrapper .product-service-item .technology {
  background-image: url(../img/technology-logo.svg);
}
.product-service .product-service-wrapper .product-service-item h1 {
  margin: 0;
  color: #ee4248;
  font-size: 28px;
  font-weight: 500;
  line-height: 37px;
}
.product-service .product-service-wrapper .product-service-item p {
  max-width: 319px;
  margin: 0;
  color: #30444e;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.product-service .product-service-wrapper .product-service-item button {
  max-width: 120px;
  padding: 8px 16px;
}

.container {
  width: 1145px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

em.red-emphasis {
  font-style: normal;
  color: #ee4248;
}

.btn-primary {
  background-color: #ee4248;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: none;
  color: #fff;
  padding: 12px 32px;
}

/*# sourceMappingURL=style.css.map */
