footer {
  .footer-wrapper {
    display: flex;
    color: $dark-grey;
    padding-top: 28px;
    padding-bottom: 28px;
    justify-content: space-between;
    align-items: flex-end;
    .address-box {
      strong {
        margin-top: 10px;
        margin-bottom: 8px;
        font-weight: 500;
        line-height: 21px;
        font-size: 18px;
      }
    }
    address,
    .contact-info > p {
      font-weight: 300;
      line-height: 24px;
      font-size: 18px;
      margin-bottom: 0;
    }
    .contact-info {
      margin: 22px 74px 0px 48px;
      h1 {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
      }
      p {
        a {
          text-decoration: none;
          cursor: pointer;
          color: $dark-grey;
        }
      }
    }
    .partners-logos {
      max-width: 420px;
      display: grid;
      gap: 10px;
      .grid-row {
        display: flex;
        gap: 25px;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
  .copyright {
    background-color: $red;
    padding: 22px 0px;
    text-align: center;
    color: $white;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    p {
      margin: 0;
    }
  }
}
