footer {
  .footer-wrapper {
    display: flex;
    color: $dark-grey;
    padding-top: 28px;
    padding-bottom: 28px;
    justify-content: space-between;
    align-items: flex-end;
    @include mobile {
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;
    }
    .address-box {
      strong {
        margin-top: 10px;
        font-weight: 500;
        line-height: 21px;
        font-size: 18px;
        @include mobile {
          margin-top: 5px;
        }
      }
    }
    address,
    .contact-info > p {
      font-weight: 300;
      line-height: 24px;
      font-size: 18px;
      margin-bottom: 0;
      margin-top: 16px;
    }
    .contact-info {
      margin: 22px 74px 0px 48px;
      @include mobile {
        margin: 0px;
      }
      h1 {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 15px;
      }
      p {
        a {
          text-decoration: none;
          cursor: pointer;
          color: $dark-grey;
        }
      }
    }
    .partners-logos {
      max-width: 420px;
      display: grid;
      gap: 10px;
      @include mobile {
        gap: 15px;
        width: 100%;
      }
      .grid-row {
        display: flex;
        gap: 25px;
        align-items: center;
        justify-content: space-between;
        @include mobile {
          gap: 20px;
        }
        img[alt='silverlight'] {
          @include mobile {
            max-width: 113px;
          }
        }
        img[alt='net'] {
          @include mobile {
            max-width: 98px;
          }
        }
        img[alt='java'],
        img [alt='ios'] {
          @include mobile {
            max-width: 66px;
          }
        }
        img[alt='android'],
        img[alt='blackberry'] {
          @include mobile {
            max-width: 122px;
          }
        }
      }
    }
  }
  .copyright {
    background-color: $red;
    padding: 22px 0px;
    text-align: center;
    color: $white;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    p {
      margin: 0;
    }
  }
}
